streamlit==1.22.0
pandas==1.5.3
numpy==1.23.5
plotly==5.14.1
yfinance==0.2.18
requests==2.29.0
scikit-learn==1.2.2
python-dotenv==1.0.0
matplotlib==3.7.1
ccxt==3.0.43
exchange-calendars==4.2.5
stockstats==0.5.2
tensorflow-cpu==2.12.0
nltk==3.8.1
alpaca-trade-api==3.0.2
